body {
    font-family: Arial, sans-serif;
}

.login-title {
    font-family: Arial, sans-serif;
    font-size: 18px;
    font-style: italic;
    margin-bottom: 20px;
}

.container-wrapper {
    width: 30%;
    margin: auto;
    margin-top: 15vh;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container {
    text-align: center;
}

input[type="text"],
input[type="password"],
button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: dodgerblue;
}

button {
    background-color: dodgerblue;
    color: white;
    cursor: pointer;
    margin-bottom: 10px;
}

button:hover {
    background-color: red;
}

.social-buttons {
    display: flex;
    justify-content: center;
}

.social-buttons button {
    margin: 0 5px;
    padding: 5px;
    border: none;
    background: none;
}

.social-buttons button:hover {
    filter: brightness(80%);
}

.social-icon {
    width: 50px;
    height: 50px;
}
